{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %} {% endblock title %} | COLLEGE_ENCYCLO </title>
    <link rel="stylesheet" href="{% static 'navstyle.css' %}">
</head>

<body>
    
    
    <!-- Side navigation -->
    <div class="sidenav">
        <a href="{% url 'events' %}" >Events</a>
        <a href="{% url 'notices' %}" >Notices</a>
        <a href="{% url 'notes' %}">Notes</a>
        <a href="{% url 'qps' %}">Question Papers</a>
        <a href="{% url 'opd' %}">Offcampus Placements</a>
  </div>
  
    {% block body %}    
    <!-- Page content -->
    <div class="main">    </div>
    {% endblock body %}
    
</body>
</html>