{% extends 'base.html' %}

{% block title %}EVENTS{% endblock title %}

{% block body %}


{% for ev_u in eve_u %}
<br>
<h2 class="main" style="width:fit-content ; margin:0 auto;">Upcoming Events</h2>
<br>
<div class="card mx-auto " style="max-width:auto; ">
    <div class="row g-0 ">
      <div class="col-md-4 ">
        <img src="..." class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ev_u.event}}</h5>
          <p class="card-text">{{ev_u.event_desc}}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">College : {{ev_u.college}}</li>
          <li class="list-group-item">Audience : {{ev_u.tg_audience}}</li>
          <li class="list-group-item">Venue : {{ev_u.venue}}</li>
          <li class="list-group-item">Date and Time : {{ev_u.date_time}}</li>
          </ul>
          <div class="card-body">
              <a href="#" class="btn btn-primary">Register for the event here</a>
            <a href="#" class="btn btn-primary">Register for your friend</a>
          </div>
      </div>
    </div>
  </div>
  {% endfor %}

<br>
<br>
<br>










  <h2 class="main" style="width:fit-content ; margin:0 auto;">Previous Events</h2>
  <br>
  
{% for ev_p in eve_p %}
<div class="row">
  <div class="row">
    <div class="col-6">

      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ev_p.event}}</h5>
          <p class="card-text">{{ev_p.event_desc}}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">College : {{ev_p.college}}</li>
          <li class="list-group-item">Audience : {{ev_p.tg_audience}}</li>
          <li class="list-group-item">Venue : {{ev_p.venue}}</li>
          <li class="list-group-item">Date and Time : {{ev_p.date_time}}</li>
          </ul>
      </div>
      
    </div>
  </div>
</div>
    {% endfor %}
  
  {% endblock body %}
  