{% extends 'base.html' %}

{% block title %}EVENTS{% endblock title %}

{% block body %}
<br>
<h2 class="main" style="width:fit-content ; margin:0 auto;">Upcoming Events</h2>
<br>
<div class="card mx-auto " style="max-width:auto; ">
    <div class="row g-0 ">
      <div class="col-md-4 ">
        <img src="..." class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Event Name</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed doloremque voluptatem eius dolores magni. Fugiat recusandae veniam quos ullam totam, blanditiis asperiores voluptatum placeat veritatis repellat doloremque ipsum vel, repudiandae beatae assumenda. Cupiditate ipsum quia illum natus culpa deleniti quod rerum. Beatae, possimus! Repudiandae, voluptatum, fugit obcaecati quibusdam vero eveniet magni blanditiis illum neque accusamus, odit quisquam? Tenetur ipsa ut doloremque iste tempore eos? Doloremque eveniet voluptatum vitae repudiandae accusamus fuga, dolores sit recusandae, vero adipisci expedita iste fugiat vel magnam, eum ex. Saepe, quia. Laboriosam voluptatem eligendi dolorem, sequi sed dolore! Odio facilis reprehenderit obcaecati, voluptatem a tenetur eveniet!</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Date and Time :</li>
            <li class="list-group-item">Venue :</li>
            <li class="list-group-item">Registration Fees :</li>
          </ul>
          <div class="card-body">
              <a href="#" class="btn btn-primary">Register for the event here</a>
            <a href="#" class="btn btn-primary">Register for your friend</a>
          </div>
      </div>
    </div>
  </div>
<br>
<br>
<br>
  <h2 class="main" style="width:fit-content ; margin:0 auto;">Previous Events</h2>
  <br>
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Event Name</h5>
          <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat tempora delectus perspiciatis alias quidem officia, deleniti vel eligendi iusto, eum necessitatibus doloremque! Consequatur aliquam ex fuga sed officia voluptate, ullam assumenda tempora excepturi saepe ad dolorum voluptates, magnam hic repellat voluptatem. Illum esse nulla earum deserunt vero, aperiam eius, doloremque voluptas totam, dicta distinctio voluptate sit laudantium. Maiores eius, quos repudiandae vero, mollitia error doloribus molestias veritatis repellat eveniet numquam dignissimos! Asperiores voluptates aliquam natus?</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Date and Time :</li>
            <li class="list-group-item">Venue :</li>
            <li class="list-group-item">Registration Fees :</li>
          </ul>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Event Name</h5>
          <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem, aliquam magni optio suscipit veritatis voluptate incidunt esse necessitatibus error laudantium quis totam, temporibus porro, nisi voluptatibus possimus explicabo impedit sint. Dolor soluta, hic consectetur quidem molestiae exercitationem minus inventore fugiat amet esse sunt tenetur culpa incidunt quod, explicabo sapiente sed.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Date and Time :</li>
            <li class="list-group-item">Venue :</li>
            <li class="list-group-item">Registration Fees :</li>
          </ul>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Event Name</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate sit voluptas minus maiores enim praesentium? Reiciendis veritatis earum maxime, sint enim officia perferendis laborum iure velit perspiciatis, nulla quaerat pariatur inventore ad rerum asperiores libero eveniet animi eos hic voluptates. Magnam quos pariatur repudiandae ipsam unde quasi, provident ex sequi.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Date and Time :</li>
            <li class="list-group-item">Venue :</li>
            <li class="list-group-item">Registration Fees :</li>
          </ul>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="img h-50 " ><img src="..." class="card-img-top" alt="..."></div>
        <div class="card-body">
          <h5 class="card-title">Event Name</h5>
          <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus voluptates vel quibusdam rem ipsam consectetur aliquid, explicabo iste veniam. Corrupti cumque consequatur numquam, iste architecto explicabo magnam ad deleniti modi ipsa suscipit sunt quidem? Accusantium necessitatibus quasi laborum recusandae rerum voluptate nostrum, enim quae perspiciatis, beatae nihil unde. Placeat, voluptate suscipit! Architecto excepturi enim dolorem? Est odit quia repudiandae ratione aliquam nam, et cum consequuntur, molestiae necessitatibus, illum laborum obcaecati magni dignissimos dolore fuga error.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Date and Time :</li>
            <li class="list-group-item">Venue :</li>
            <li class="list-group-item">Registration Fees :</li>
          </ul>
      </div>
    </div>
  </div>

  {% endblock body %}
  