<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> REGSTAFF | COLLEGE_ENCYCLO </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- Bootstrap Registration Form Styling Starts  -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <style>
        .register{
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
    margin-top: 3%;
    padding: 3%;
}
.register-left{
    text-align: center;
    color: #fff;
    margin-top: 4%;
}
.register-left input{
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    width: 60%;
    background: #f8f9fa;
    font-weight: bold;
    color: #383d41;
    margin-top: 30%;
    margin-bottom: 3%;
    cursor: pointer;
}
.register-right{
    background: #f8f9fa;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
}
.register-left img{
    margin-top: 15%;
    margin-bottom: 5%;
    width: 25%;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
.register-left p{
    font-weight: lighter;
    padding: 12%;
    margin-top: -9%;
}
.register .register-form{
    padding: 10%;
    margin-top: 10%;
}
.btnRegister{
    float: right;
    margin-top: 10%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #0062cc;
    color: #fff;
    font-weight: 600;
    width: 50%;
    cursor: pointer;
}
.register .nav-tabs{
    margin-top: 3%;
    border: none;
    background: #0062cc;
    border-radius: 1.5rem;
    width: 28%;
    float: right;
}
.register .nav-tabs .nav-link{
    padding: 2%;
    height: 34px;
    font-weight: 600;
    color: #fff;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}
.register .nav-tabs .nav-link:hover{
    border: none;
}
.register .nav-tabs .nav-link.active{
    width: 100px;
    color: #0062cc;
    border: 2px solid #0062cc;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}
.register-heading{
    text-align: center;
    margin-top: 8%;
    margin-bottom: -15%;
    color: #495057;
}
    </style>
    <!-- Bootstrap Registration Form Styling Ends  -->
</head>

<body>
    <!-- Main Navbar Starts -->
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-0 sticky-top" style="border-bottom-right-radius: 7px; border-bottom-left-radius: 7px;" >
       
         <div class="container-fluid my-2 justify-content-center">
           <a class="navbar-brand" style="font-size: 35px; color: #ededed;"  href="#">COLLEGE ENCYCLO</a>
         </div>
     </nav>
     <!-- Main Navbar Ends -->

     <!-- Form Starts -->
     <form method="POST" action="{% url 'staffproform' %}">
        {% csrf_token %}
     <div class="container register">
         <div class="row">
             <div class="col-md-3 register-left">
                <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
                <h3>Welcome</h3>
                <p>Create Your Free Account!<br>You are just 30 seconds away from  getting benefits of College Encyclo.</p> 
                <p class="mx-0 py-lg-0">Already have an account.</p>
                <input class="py-lg-0" type="submit" name="Login Here" value="Login Here" href="{% url 'logins' %}"><br/>
            </div>
            <div class="col-md-9 register-right">
                <!-- <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Employee</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Hirer</a>
                    </li>
                </ul> -->
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <h3 class="register-heading">Get started as Staff </h3>
                        <div class="row register-form">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <!-- {{form2.college.label}}
                                    {{form2.college}} -->

                                    <select class="form-select" name="cllg" aria-label="Default select example">
                                        <option selected>Select Your College</option>
                                        {% for cl in c %}
                                        <option value="{{ cl.id }}">{{ cl.college }}</option>
                                    {% endfor %}
                                      </select>

                                   
                                </div>
                                <div class="form-group">
                                    <!-- {{form2.program.label}}
                                    {{form2.program}} -->
                                    <select class="form-select" name="prog" aria-label="Default select example">
                                        <option selected>Select Your Program</option>
                                        {% for pl in p %}
                                        <option value="{{ pl.id }}">{{ pl.program }}</option>
                                    {% endfor %}
                                      </select>
                                </div>
                                <div class="form-group">
                                    <!-- {{form2.department.label}}
                                    {{form2.department}} -->
                                    <select class="form-select" name="dept" aria-label="Default select example">
                                        <option selected>Select Your Department</option>
                                        {% for dl in d %}
                                        <option value="{{ dl.id }}">{{ dl.department }}</option>
                                    {% endfor %}
                                      </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                               
                                <div class="form-group">
                                    <!-- {{form2.year.label}}
                                    {{form2.year}} -->
                                    <!-- {% for profiles in profile %} -->
                                        <!-- {{profile.year.year}} -->
                                    <!-- {% endfor %} -->
                                    <!-- <select class="form-select" name="yer" aria-label="Default select example">
                                        <option selected>Select Your Year</option>
                                        {% for yr in y %}
                                        <option value="{{ yr.id }}">{{ yr.year }}</option>
                                    {% endfor %}
                                      </select>-->
                                                                         
                                   {{ staffadmin.get_year_display }}
                                </div>
                                <div class="form-group">
                                    <!-- {{form2.year.label}}
                                    {{form2.year}} -->
                                    <!-- {% for profiles in profile %} -->
                                        <!-- {{profile.year.year}} -->
                                    <!-- {% endfor %} -->
                                    <select class="form-select" name="clb" aria-label="Default select example">
                                        <option selected>Select Your Club/Cell</option>
                                        {% for cl in cb %}
                                        <option value="{{ cl.id }}">{{ cl.club }}</option>
                                    {% endfor %}
                                      </select>                                    
                                </div>
                                <div class="form-group">
                                    <!-- {{form2.gender.label}}
                                    {{form2.gender}} -->
                                    <select class="form-select" name="gender" aria-label="Default select example">
                                        <option selected>Choose Your Gender</option>
                                        <option value="m">Male</option>
                                        <option value="f">Female</option>
                                      </select>
                                </div>
                                <input type="submit" class="btnRegister"  value="Register"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </form>
     <!-- Form Ends -->

     <!-- Footer Starts -->
    <div class="container-fluid bg-dark text-white mt-5 py-5 px-sm-3 px-md-5" style="border-top-right-radius: 7px; border-top-left-radius: 7px;">
        <div class="row pt-5 pb-5 justify-content-center">
            <div class="footer_1 col-lg-3 col-md-6 mx-5">
                <a href="#" class="navbar-brand font-weight-bold text-primary m-0 mb-4 p-0" style="font-size: 40px; line-height: 40px;">
                    <span class="text-primary">COLLEGE ENCYCLO</span>
                </a>
                <p>Labore dolor amet ipsum ea, erat sit ipsum duo eos. Volup amet ea dolor et magna dolor, elitr rebum duo est sed diam elitr. Stet elitr stet diam duo eos rebum ipsum diam ipsum elitr.</p>
                <div class="d-flex justify-content-start mt-4">
                    <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0" style="width: 38px; height: 38px;" href="#"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0" style="width: 38px; height: 38px;" href="#"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0" style="width: 38px; height: 38px;" href="#"><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0" style="width: 38px; height: 38px;" href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="footer_2 col-lg-3 col-md-6 px-lg-5 mx-5">
                <h3 class="mb-4" style="color: rgb(49, 107, 49);">Get In Touch</h3>
                <div class="d-flex">
                    <h4 class="fa fa-map-marker-alt text-primary"></h4>
                    <div class="pl-3">
                        <h5 class="text-white">Address</h5>
                        <p>123 Street, New York, USA</p>
                    </div>
                </div>
                <div class="d-flex">
                    <h4 class="fa fa-envelope text-primary"></h4>
                    <div class="pl-3">
                        <h5 class="text-white">Email</h5>
                        <p>info@example.com</p>
                    </div>
                </div>
                <div class="d-flex">
                    <h4 class="fa fa-phone-alt text-primary"></h4>
                    <div class="pl-3">
                        <h5 class="text-white">Phone</h5>
                        <p>+012 345 67890</p>
                    </div>
                </div>
            </div>
            <div class="footer_3 col-lg-3 col-md-6 mx-5">
                <h3 class="mb-4" style="color: rgb(49, 107, 49);">Quick Links</h3>
                <div class="d-flex flex-column justify-content-start">
                    <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Home</a>
                    <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Events</a>
                    <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i> Notices</a>
                    <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i> Notes</a>
                    <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i> Question papers</a>
                    <a class="text-white" href="#"><i class="fa fa-angle-right mr-2"></i>Offcampus Placement</a>
                </div>
            </div>
        </div>
        <div class="container-fluid pt-5" style="border-top: 1px solid rgb(255, 255, 255);;">
            <p class="m-0 text-center text-white">
                © <a class="text-primary font-weight-bold" href="#">www.collegencyclo.com</a>. All Rights Reserved. Designed
                by
                <a class="text-primary font-weight-bold" href="#">TechByzan Pvt. Ltd.</a>
            </p>
        </div>
    </div>
      <!-- Footer Ends -->
</body>